/* see also
 * jdk\jre\lib\ext\jfxrt.jar!\com\sun\javafx\scene\control\skin\modena\modena.css
 */

/* Editor window */
.root.editor-view {
    -fx-pref-width: 1200px;
    -fx-pref-height: 800px;
}
/* Mod player window */
.root.player-view {
    -fx-pref-width: 800px;
    -fx-pref-height: 600px;
}
/* System log */
.text-area.consola {
    -fx-font-family: "Consolas";
}


/* Restyling forms */
.form {
    -fx-spacing: 10px;
}
.form GridPane {
    -fx-hgap: 2px;
    -fx-vgap: 5px;
}
.form .label.legend {
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;
    -fx-padding: 0 0 5px 0;
}
.form.monster-combat .label {
    -fx-alignment: center;
}

.trigger-editor .fieldset {
    -fx-padding: 0;
}

.small-button, .smaller-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-min-width: 16px;
    -fx-max-width: 16px;
    -fx-min-height: 16px;
    -fx-max-height: 16px;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-font-size: 0.8em;
    /*-fx-focus-traversable: false;*/
}

.small-button:hover, .smaller-button:hover {
    -fx-background-color: #d3d3d3;
}

.small-button:focused, .smaller-button:focused {
    -fx-background-color: #d3d3d3;
}

.small-button:armed, .smaller-button:armed {
    -fx-background-color: #a9a9a9;
}
.small-button-space {
    -fx-min-width: 16px;
    -fx-min-height: 16px;
}

.smaller-button {
    -fx-min-width: 8px;
    -fx-max-width: 8px;
    -fx-min-height: 8px;
    -fx-max-height: 8px;
    -fx-font-size: 8px;
}
.toggle-switch.nogap {
    -fx-padding: 0 1.333333em 0 0;
}
.toggle-switch.nogap .label {
    -fx-padding: 0 -1.333333em 0 0;
}

/* Scene statement tree node */
.statement-tree .tree-graphic {
    -fx-font-family: "Lucida Console";
}

/* Node type: text */
.xtext {
    -fx-font-family: "Lucida Fax";
    -fx-font-size: 16;
}

.xlogic, .xcomment, .xnext {
    -fx-font-family: "Lucida Console";
}

.styled-text-area {
    -fx-background-color: -fx-inner-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 2;
}

.styled-text-area:focused {
    -fx-background-color: -fx-focus-color,
    -fx-control-inner-background,
    -fx-faint-focus-color,
    -fx-control-inner-background;
    -fx-background-insets: -0.2, 1, -1.4, 3;
    -fx-background-radius: 3, 2, 4, 0;
}

.styled-text-area .text {
    -fx-fill: -fx-text-fill;
}

.styled-text-area .caret {
    -fx-stroke: -fx-text-fill;
}

/* Expression editor: link */
.xexpr-link {
    -fx-cursor: hand;
    -fx-underline: true;
}

.xexpr-link:focused {
    /*-fx-font-weight: bold;*/
    -fx-effect: dropshadow(one-pass-box, rgba(50, 100, 255, 0.5), 10, 1, 0, 0);
}

/* tag nesting depth; not used right now */
.depth-0 {
    -fx-border-color: #ffffff;
}
.depth-1 {
    -fx-border-color: #222288;
}
.depth-2 {
    -fx-border-color: #882288;
}
.depth-3 {
    -fx-border-color: #882222;
}
.depth-4 {
    -fx-border-color: #886622;
}
.depth-5 {
    -fx-border-color: #888822;
}
.depth-6 {
    -fx-border-color: #228822;
}
.depth-7 {
    -fx-border-color: #228888;
}
.depth-8 {
    -fx-border-color: #222222;
}
.depth-9 {
    -fx-border-color: #888888;
}

/* Statement editor */
.xstmt-editor {
    -fx-spacing: 5px;
    -fx-padding: 5px;
}
.xstmt-editorHBox {
    -fx-alignment: baseline-left;
}
.xtextTextFlow {
    -fx-padding: 0 0 15px 0;
}
.toolbar-grid .button {
    -fx-pref-width: 80px;
    -fx-padding: 4px;
}

.tree-cell .tree-graphic.glyph-font {
    -fx-padding: 0;
}

.dragover {
    -fx-background-color: #afa;
}

.dragged {
    -fx-opacity: 0.5;
    -fx-border-color: #f00;
    -fx-border-width: 2;
    -fx-background-color: #ff000080;
}

.dragover.dragover-from-top {
    -fx-border-color: #0f0;
    -fx-border-width: 2 0 0 0;
}

.dragover.dragover-from-bottom {
    -fx-border-color: #0f0;
    -fx-border-width: 0 0 2 0;
}

.tree-cell {
    -fx-indent: 1.375em;
}

.tree-cell > .tree-disclosure-node.folder,
.tree-table-row-cell > .tree-disclosure-node.folder {
    -fx-padding: 2 3 2 7;
}

.tree-cell > .tree-disclosure-node.folder > .arrow,
.tree-table-row-cell > .tree-disclosure-node.folder > .arrow {
    -fx-padding: 0.5em 0.5625em; /* h = 12px = 1em, w = 9/8 h = 1.125em = 13.5px */
    -fx-background-color: -fx-text-background-color;
    -fx-shape: "M464 128H272l-64-64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V176c0-26.51-21.49-48-48-48zm-6 272H54c-3.314 0-6-2.678-6-5.992V117.992A5.993 5.993 0 0 1 54 112h134.118l64 64H458a6 6 0 0 1 6 6v212a6 6 0 0 1-6 6z";
}

.tree-cell:expanded > .tree-disclosure-node.folder > .arrow,
.tree-table-row-cell:expanded > .tree-disclosure-node.folder > .arrow {
    -fx-shape: "M527.943 224H480v-48c0-26.51-21.49-48-48-48H272l-64-64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h400a48.001 48.001 0 0 0 40.704-22.56l79.942-128c19.948-31.917-3.038-73.44-40.703-73.44zM54 112h134.118l64 64H426a6 6 0 0 1 6 6v42H152a48 48 0 0 0-41.098 23.202L48 351.449V117.993A5.993 5.993 0 0 1 54 112zm394 288H72l77.234-128H528l-80 128z";
    -fx-rotate: 0;
}

.simple-list-view {
    -fx-fill-width: true;
    -fx-pref-height: -1;
    -fx-spacing: 0.0;
    /*-fx-padding: 2.0 2.0 2.0 12.0;*/
    /*-fx-padding: 2.0 2.0 2.0 2.0;*/
}

.simple-list-view:empty {
    -fx-padding: 0.0;
}

.stmt-ctrl-left {
    -fx-max-width: 16px;
}
.stmt-ctrl-main .stmt-ctrl-left {
    -fx-max-width: 32px;
    -fx-shape: "M 0 0 z M 6 0 L 10 0 L 10 16 L 6 16 z M 32 16 z";
    -fx-background-color: -fx-text-background-color;
}

.stmt-ctrl-right {
    -fx-pref-width: 16px;
    -fx-pref-height: 16px;
}

.stmt-ctrl-right .small-button,
.stmt-ctrl-right .small-button .glyph-font {
    -fx-text-fill: -fx-body-color;
}

/*.stmt-ctrl-main .simple-list-view, .stmt-ctrl-main {
    -fx-spacing: 0.0;
}*/
.stmt-ctrl-left .stmt-ctrl-insbefore, .stmt-ctrl-left .stmt-ctrl-insafter {
    -fx-opacity: 0.0;
}

.stmt-ctrl-left:hover .stmt-ctrl-insbefore, .stmt-ctrl-left:hover .stmt-ctrl-insafter {
    -fx-opacity: 1.0;
}

.stmt-ctrl-main {
    -fx-fill-width: true;
    -fx-border-color: #80808080;
    -fx-border-width: 1px 0 1px 0;
}

.stmt-ctrl-main {
    -fx-padding: 0 16 0 16;
}

.stmt-ctrl-main.sc-if,
.stmt-ctrl-main.sc-menu,
.stmt-ctrl-main.sc-switch {
    -fx-padding: 0 0 0 16;
}

.stmt-ctrl-main .stmt-ctrl-main {
    -fx-padding: 0 16 0 32;
}

.stmt-ctrl-main .stmt-ctrl-main.sc-if,
.stmt-ctrl-main .stmt-ctrl-main.sc-menu,
.stmt-ctrl-main .stmt-ctrl-main.sc-switch {
    -fx-padding: 0 0 0 32;
}

.stmt-ctrl-main Text {
    -fx-fill: -fx-text-base-color;
}

.stmt-ctrl-row {
    -fx-alignment: baseline-left;
    -fx-spacing: 4.0;
}

TextFlow.xlogic, TextFlow.xcommand, TextFlow.xcomment, TextFlow.xnext {
    -fx-padding: 4 0 0 0;
}

/*
.sc-if-then > .simple-list-cell,
.sc-if-elseif > .simple-list-cell,
.sc-if-else > .simple-list-cell {
    -fx-padding: 0 0 0 32;
}
*/


.xcomment .text-input {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 1;
    -fx-background-radius: 2;
    -fx-text-fill: -fx-text-base-color;
}

.xcomment .text-input:focused {
    -fx-background-color: -fx-focus-color,
    -fx-faint-focus-color,
    -fx-control-inner-background;
    -fx-background-insets: -0.2, -1.4, 1;
    -fx-background-radius: 3, 4, 2;
}

/*.context-menu {
    -fx-text-fill: -fx-text-base-color;
    -fx-font-weight: normal;
    !*-fx-background-color: -fx-background;*!
    -fx-font-size: 14px;
}*/

.italic {
    -fx-font-style: italic;
}

.bold {
    -fx-font-weight: bold;
}

.tag-help {
    -fx-spacing: 4;
    -fx-fill-width: true;
}

.tag-help TextFlow, .tag-help Text {
    -fx-wrap-text: true;
    -fx-font-size: 14;
}

.scene-xml-editor .text {
    -fx-font-size: 14;
    -fx-font-family: "Lucida Console";
}

.scene-xml-editor .text.tab {
    -fx-font-size: 7; /* because JavaFx '\t' is hardcoded to be as wide as 8 spaces but I want it to be 4 */
}

.scene-xml-editor .text.output {
    -fx-font-family: "Lucida Fax";
}