.root {
    /* Base object color */
    -fx-base: #3c3f41;

    /* Window BG */
    -fx-background: #313335;

    /* Text controls & data controls BG */
    -fx-control-inner-background: #2b2b2b;
    /* Button controls BG
     * Derives from -fx-color which is -fx-base for default button,
     * but may change depending on state (hover/disabled/armed/..)
     */
    -fx-body-color: derive(-fx-color, 10%);
    -fx-body-color-bottomup: -fx-body-color;
    -fx-body-color-to-right: -fx-body-color;
    -fx-inner-border: derive(-fx-color, 30%);
    -fx-inner-border-horizontal: derive(-fx-color, 30%);
    -fx-inner-border-vertical: derive(-fx-color, 30%);
}

.menu-bar {
    -fx-background-color: -fx-base;
}

.button:default {
    -fx-base: #5d7580;
    -fx-font-weight: bold;
}

.small-button:hover {
    -fx-background-color: #5d7580;
}

.small-button:focused {
    -fx-background-color: #5d7580;
}

.small-button:armed {
    -fx-background-color: #5d7580;
}

/* Scene statement tree node */
.statement-tree .tree-graphic {
}

/* Node type: text */
.xtext {
    -fx-font-family: "Lucida Fax";
    -fx-text-base-color: #eee;
}

/* Node type: flow control (if, switch) */
.xlogic {
    -fx-text-base-color: #acf;
}

/* Node type: comment */
.xcomment {
    -fx-text-base-color: #6a6;
}

/* Node type: command */
.xcommand {
    -fx-text-base-color: #faa;
}

/* Node type: scene transition (menu, next, battle, forward) */
.xnext {
    -fx-text-base-color: #a8f;
}

.statement-tree .tree-cell:focused .xtext,
.statement-tree .tree-cell:focused .xlogic,
.statement-tree .tree-cell:focused .xcomment,
.statement-tree .tree-cell:focused .xcommand,
.statement-tree .tree-cell:focused .xnext {
    -fx-text-base-color: #222;
}

/* Expression editor */
.xexpr {
}

/* Expression editor: text */
.xexpr Text {
    -fx-fill: #eee;
}

/* Expression editor: link */
.xexpr-link {
    -fx-fill: #48f;
}

/* Expression editor: bad link */
.xexpr-link.xexpr-bad-link {
    -fx-fill: #f44;
}

.tree-cell.validation-unknown .tree-graphic {
    -fx-text-fill: #aaa;
}

.tree-cell.validation-valid .tree-graphic {
    -fx-text-fill: #282;
}

.tree-cell.validation-mixed .tree-graphic {
    -fx-text-fill: #a62;
}

.tree-cell.validation-invalid .tree-graphic {
    -fx-text-fill: #a33;
}
