/* Scene statement tree node */
.statement-tree .tree-graphic {
}

/* Node type: text */
.xtext {
}

/* Node type: flow control (if, switch) */
.xlogic {
    -fx-text-background-color: #008;
}

/* Node type: comment */
.xcomment {
    -fx-text-background-color: #080;
}

/* Node type: command */
.xcommand {
    -fx-text-background-color: #800;
}

/* Node type: scene transition (menu, next, battle, forward) */
.xnext {
    -fx-text-background-color: #808;
}

/* Expression editor */
.xexpr {
}

/* Expression editor: link */
.xexpr-link {
    -fx-fill: #00f;
}

/* Expression editor: bad link */
.xexpr-link.xexpr-bad-link {
    -fx-fill: #f00;
}

.tree-cell.validation-unknown .tree-graphic {
}

.tree-cell.validation-valid .tree-graphic {
    -fx-text-fill: #282;
}

.tree-cell.validation-mixed .tree-graphic {
    -fx-text-fill: #a62;
}

.tree-cell.validation-invalid .tree-graphic {
    -fx-text-fill: #a33;
}
